/* styles styles styles styles styles styles styles styles styles styles */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html {
    padding: 0px;
    margin:0px;
}

.header, .header-content, .footer{
    background-color: #1F2937;
}

.header > div {
    color: #f9faf8;
    font-size: 24px;
}

.header-left > h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.header-link > a , .header-left > p {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.button,.call {
    background-color: #3882f6;
    border: none;
}

.midsection > h6{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.inspiring-quote {
    background-color: #e5e7eb;
}
.inspiring-text {
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
}
.quote-signature {
    font-size: 24px;
        color: #1F2937;
    font-weight: 900;
}

/* styles styles styles styles styles styles styles styles styles*/

/* flex flex flex flex flex flex flex flex flex flex flex flex flex */
body {
    display: flex;
    flex-direction: column;
}
/* header header header header header  */
.header-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.header {
    padding-top:10px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 80px;
}
.header , .header-content {
    padding-left: 150px;
    padding-right: 150px;
}
.header-link > a{
    gap: 15px;
}

.header-right > img {
    width: 400px;
    height: 250px;
}

.header-content {
    display: flex;

}
.header-left > h1 {
    align-self:flex-start;
    flex-grow: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-left > p {
    align-self: stretch;
    padding-right: 20px;
}
.header-left > button {
    color: #f9faf8;
    border-radius: 8px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;

}
.header-right > img {
    border: 2px #e5e7eb solid;
    border-radius: 15px;
}
.header-flex , .header-content {
     padding-bottom: 100px; /* covers My random information for some reason */
}
/* header header header header header  */

/* midsection midsection midsection */

.midsection  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.midsection > h6 {
    align-self: center;
    padding-top: 30px;
    padding-bottom:0px;
    margin-bottom: 50px;
}

/* cards cards cards */

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
}

.card > img {
    width: 200px;
    height: 200px;
    border: #3882f6 solid 3px;
    border-radius: 15px;
    flex-grow: 0;
    align-self: center;
}
.card > p {
    text-align: center;
    padding-left: 0px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
}
.cards {
    margin-bottom: 60px;
}

/* cards cards cards */

/* .inspiring-quote */
.inspiring-quote{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;

}
    .inspiring-text {
        padding-top: 80px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .quote-signature {
        margin-top: 0px;
        padding-top: 0px;
        align-self: flex-end;
        padding-bottom: 80px;
    }
/* .inspiring-quote */

/* call call call call */
.call {
    display: flex;
    align-items: center;
    margin:80px;
    border-radius: 15px;
    display: flex;
    height: 150px;
    justify-content: space-between;
}
.call > div {
    padding-left: 100px;
    padding-right: 100px;
}
.call > div > p {
    margin-top: 5px;
}
.call > .two {
        display: flex;
}
.call > div >button {
    border:#e5e7eb solid 2px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    border-radius: 9px;
    padding-left: 30px;
    padding-right: 30px;

    align-self: center;
}
.call > div > h5 {
    padding-bottom: 0px ;
    margin-bottom: 0px ;
    font-size: 24px;
    color: #f9faf8;
}
.call > .one > p , .call > div > button  {
        color: #e5e7eb;
        font-size: 18px;
}
.call > .one {
    padding-bottom: 30px;
}

/* call call call call */

/* midsection midsection midsection */

/* footer footer footer footer footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 0px;
}
.footer > p {
    font-size: 18px;
    color : #f9f9f9;
}
/* footer footer footer footer footer */


/* flex flex flex flex flex flex flex flex flex flex flex flex flex */
